@model ProductsDistribution.Models.InputModels.ProductAnnouncementInputModel

<div class="row">
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
 
    <div class="form-horizontal" id="dv_@Model" data-rownum="@Model">
        

   
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.productNames, "Продукт :", htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10" id="products">


                @Html.DropDownListFor(m => m.selected_productName, Model.productNames, "", new { @id = "combobox" })


                @Html.ValidationMessageFor(model => model.selected_productName, "", new { @class = "text-danger" })

            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.quantity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.quantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.quantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
            </div>
        </div>

     
        @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>*@
    </div>
    <div class="form-group">
        <a href="#" class="deleteAnnouncement btn btn-primary">Изтрий</a>
    </div>
}
</div>
@section scripts
{


<script>
    $(document.body).on("click", "a.deleteAnnouncement", function () {
        $(this).parents('div.form-horizontal:first').remove();
        return false;
    });
</script>
    
}
@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
