@model  ProductsDistribution.Models.InputModels.AnnouncementInfo

@*<head>
    <link href="@Url.Content("~/Content/Themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />

</head>

<style>
    .custom-combobox {
        position: relative;
        display: inline-block;
    }

    .custom-combobox-toggle {
        position: absolute;
        top: 0;
        bottom: 0;
        margin-left: -1px;
        padding: 0;
        /* support: IE7 */
        *height: 1.7em;
        *top: 0.1em;
    }

    .custom-combobox-input {
        margin: 0;
        padding: 0.3em;
    }
</style>*@



@using (Html.BeginForm())
{

    <button class="add-announcement" onclick="AddTextBox()">
        Добави
    </button>
      <div id="announcementForm">

        <table id="announcements">
            <thead>
                <tr></tr>
                @*<tr>
                    <th>Дата на пристигане на доставката</th>
                    <th>Производител</th>
                    <th>Продукт</th>
                    <th>Цена</th>
                    <th>Максимално количество за доставка</th>

                    <th></th>
                </tr>*@
            </thead>
            <tbody id="an">
                
                
                  
                @Html.Partial("AnnouncementInfo") 
                
                
               
                @*@for (int i = 0; i < Model.announcementInfo.Count; i++)
                {
                    @Html.EditorFor(m => m.announcementInfo[i])
                }*@
            </tbody>


        </table>

          </div>



        <div id="forms">
            


        </div>


  

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Изпрати" class="btn btn-default" id="submitButton" />
        </div>
    </div>
}


@section scripts
{

    @*<script src="@Url.Content("~/Scripts/jquery.autocomplete.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.js")"></script>
    <script src="@Url.Content("~/Scripts/GenerateComboBox.js")"></script>*@
   



<script>
        $(document.body).on("click", "a.delete-announcement", function () {
            //$(this).closest('#an').hide();
            //$(this).prev('input').val('true');
            
            $(this).parents("#announcementForm:first").remove();
            $(this).prev('input').val('true');
            return false;
        });

</script>
    <script>
 
        $('.add-announcement').click(function () {
            // var index = parseInt($('.form-horizontal:last').data('rownum')) + 1;
            
            $.ajax({
                url: "/Announcement/AddNewAnnouncement",
                type: "GET",
                cache: false,
                success: function (html) {

                   
                   // var content = $('#announcement').html();
                 //  $('#forms').append(html);
                    
                   
                }
            });
            return false;
        });
    
    </script>
  
        <script type="text/javascript">
           
            function GetDynamicTextBox() {
                var uniqueId = 0;
                var div = $("<div />" + "id=" + uniqueId + 1);
                uniqueId++;
            //  var textBox = $("<input />").attr("type", "textbox").attr("name", "DynamicTextBox");
            var announcementFormAppendId = $()
            var textBox = $('#announcementForm').html();
          //  textBox.val(value);
            div.append(textBox);
 
            var button = $("<input />").attr("type", "button").attr("value", "Remove");
            button.attr("onclick", "RemoveTextBox(this)");
            div.append(button);

        


            return div;
        }
        function AddTextBox() {
            var div = GetDynamicTextBox();
            $("#forms").append(div);


            $.ajax({
                url: "/Announcement/LoadProducerNamesByUserId",
                type: "post",
                success: function (data) {

                    var producerNames = "<select id='ddlProducerNames'>";

                    producerNames = producerNames + '<option value=""></option>';
                    for (var i = 0; i < data.length; i++) {
                        producerNames = producerNames + '<option value=' + data[i] + '>' + data[i] + '</option>';
                    }
                    producerNames = producerNames + '</select>';

                    $('#combobox').html(producerNames);




                }

            });

     
        }
 
        function RemoveTextBox(button) {
            $(button).parent().remove();
        }
 
     
   

    </script>

    <script>
        $(document).ready(function () {


            $('#combobox').change(function () {
                $.ajax({
                    type: "post",
                    url: "/Announcement/LoadProductNamesByProducerNameAndUserId",
                    data: { producerName: $('#combobox').val() },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {

                        var products = "<select id='ddlProducts'>";

                        products = products + '<option value=""></option>';
                        for (var i = 0; i < data.length; i++) {
                            products = products + '<option value=' + data[i] + '>' + data[i] + '</option>';
                        }
                        products = products + '</select>';

                        $('.ddlProduct').closest('#productCombobox').html(products);

                    }


                });


            });
          


        });

    </script>

  
   
}


