@model  ProductsDistribution.Models.InputModels.AnnouncementInputModel

<head>
    <link href="@Url.Content("~/Content/Themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />

</head>

<style>
    .custom-combobox {
        position: relative;
        display: inline-block;
    }

    .custom-combobox-toggle {
        position: absolute;
        top: 0;
        bottom: 0;
        margin-left: -1px;
        padding: 0;
        /* support: IE7 */
        *height: 1.7em;
        *top: 0.1em;
    }

    .custom-combobox-input {
        margin: 0;
        padding: 0.3em;
    }
</style>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" id="dv_@Model" data-rownum="@Model">
        <h4>AnnouncementInputModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.arrive_date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.arrive_date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.arrive_date, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.selected_producerName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.selected_producerName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.selected_producerName, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.producerNames, "Производител :", htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10" id="producers">


                @Html.DropDownListFor(m => m.selected_producerName, Model.producerNames, "", new { @id = "combobox" })


                @Html.ValidationMessageFor(model => model.selected_producerName, "", new { @class = "text-danger" })

            </div>
        </div>

        @Html.Partial("_ProductAnnouncementInputModel",new ProductsDistribution.Models.InputModels.ProductAnnouncementInputModel())

        @Html.ActionLink("Добави продукт", "LoadBlankFormView", null, new { @id = "lnkAddNewAnnouncement", @class = "btn btn-primary" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section scripts
{

    <script src="@Url.Content("~/Scripts/jquery.autocomplete.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.js")"></script>
    <script src="@Url.Content("~/Scripts/GenerateComboBox.js")"></script>
    <script>
        $('#lnkAddNewAnnouncement').click(function () {
            var index = parseInt($('.form-horizontal:last').data('rownum')) + 1;

            $.ajax({
                url: "/Announcement/AddNewAnnouncement",
                type: "GET",
                cache: false,
                success: function (html) {
                    $('.form-horizontal:last').after(html);
                }
            });
            return false;
        });

    </script>

    

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

