@model IEnumerable<ProductsDistribution.Models.ViewModels.ProducerViewModelShort>


<h2>Моите производители</h2>
<p>
    @Html.ActionLink("Създай нов производител", "AddNewProducer")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.producer_id)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.producer_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.producer_email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rating)
        </th>
        <th>Продукти:</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.producer_id)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.producer_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.producer_email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rating)
        </td>

        <td>
            @foreach (var selectedProducer in item.producer_products)
                {

                <text>@selectedProducer<br /></text>
                @*<td>@subcategory</td>*@

            }
        </td>
        <td>
            @Html.ActionLink("Редактирай", "EditProducer", new { id = item.producer_id, userId = item.userId }) |
            @Html.ActionLink("Детайли", "Details", new {  id=item.producer_id}) |
            @Html.ActionLink("Изтрий", "Delete", new {  id=item.producer_id,userId=item.userId  })
        </td>
    </tr>
}

</table>
