@model ProductsDistribution.Models.InputModels.CategoryInputModel

@{
    ViewBag.Title = "_AddNewCategory";
}

<h2>Добавяне на категория</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @*<h4>CategoryInputModel</h4>*@ 
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*<div class="form-group">
            @Html.LabelFor(model => model.category_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.category_id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.category_id, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.category_name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.category_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.category_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.category_description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.category_description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.category_description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
           @* @Html.LabelFor(model => model.Category_parent_id, htmlAttributes: new { @class = "control-label col-md-2" }) *@
            <div class="col-md-10">
               @* @Html.EditorFor(model => model.Category_parent_id, new { htmlAttributes = new { @class = "form-control" } }) *@
             @Html.LabelFor(m => m.categories)
            @Html.DropDownListFor(m => m.selectedCategory, Model.categories,"")
             @*  @Html.ValidationMessageFor(model => model.Category_parent_id, "", new { @class = "text-danger" }) *@
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Добави" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Назад", "DisplayCategories")
</div>
