@model IEnumerable<ProductsDistribution.Models.ViewModels.CategoryViewModel>

@{
    ViewBag.Title = "DisplayCategories";
}

<h2>DisplayCategories</h2>

<p>
    @Html.ActionLink("Създаване на категория", "AddNewCategory")
</p>
<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Категория</th>
        <th>Подкатегории</th>
    </tr>

@foreach (var item in Model) {
    
    <tr>
        <td>@item.category_name</td>
      
        <td>
      @foreach (var subcategory in item.sub_categories)
      { 
          
      <text>@subcategory<br /></text>
        @*<td>@subcategory</td>*@
       
       }
       </td>
        
        <td>
            @Html.ActionLink("Edit", "EditView", new {  id=item.category_id }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { id =item.category_id})
        </td>
     
    </tr>
        
    }

</table>
