@model ProductsDistribution.Models.ViewModels.AnnouncementViewModel
@{
    ViewBag.Title = "Announcement List";
}
<link href="@Url.Content("~/Content/jquery.dataTables.min.css")" rel="stylesheet" type="text/css" />
<h2>Announcement List</h2>


<p>
    @Html.ActionLink("Публикувай обява", "AddNewAnnouncement","Announcement")
</p>


<div class="panel panel-body" style="min-height:256px">

    <div class="col-md-3">

        @*@{ Html.RenderAction("SideMenu", "Test");}*@

    </div>
    <div class="col-md-9">
       
        @*@Html.TextBoxFor(m => m.title, new { @class = "form-control", @placeholder = "Search here" })
        <img src="~/Content/loading.gif" id="loader" height="20" width="20" style="display:none" />*@

        <table id="announcements" class="table-striped display">
            <thead>
            <tr>
                <th>
                    Дата на доставка
                </th>
                <th>
                    Заглавие на обява
                </th>
                <th>
                    Дата на публикуване
                </th>
                
            </tr>
                </thead>
            <tbody id="AnnouncementRow">

                @*<tr>
                    <td>GNQSKO</td>
                    <td>SPLESKO</td>
                    <td>SMAZKO</td>
                </tr>*@
                @*@if (ViewBag.AnnouncementList != null)
                {
                    foreach (var item in ViewBag.AnnouncementList)
                    {
                        <tr>
                            <td>@item.arrive_date</td>
                            <td>@item.title</td>
                            <td>@item.publish_date</td>
                            <td><a href="#"><i class="glyphicon glyphicon-eye-open"></i>View</a></td>
                        </tr>

                    }

                }*@

            </tbody>
        </table>

    </div>

</div>








    @*<p>
        Find by name: <input id="SearchString" name="SearchString" type="text" value="" />
            <input type="button" value="Search" id="btnSearch" /> 

        @*Find by name: @Html.TextBox("searchString")
        <input type="submit" value="Search" />
    </p>

<div id="search-form">
    @Html.Action("DisplayAllAnnouncements", "Announcement")
</div>
<div id="search-results">
</div>


@*<div id="AnnouncementList">
  
    @Html.Action("DisplayAllAnnouncements", "Announcement")

</div>*@


@section scripts
    {
<script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
<script src="@Url.Content("~/Scripts/moment-with-locales.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.dataTables.min.js")"></script>
    <script>
        $(document).ready(function () {
           
            $('#announcements').DataTable({
                "language": {
                    "sProcessing": "Обработка на резултатите...",
                    "sLengthMenu": "Показване на _MENU_ резултата",
                    "sZeroRecords": "Няма намерени резултати",
                    "sInfo": "Показване на резултати от _START_ до _END_ от общо _TOTAL_",
                    "sInfoEmpty": "Показване на резултати от 0 до 0 от общо 0",
                    "sInfoFiltered": "(филтрирани от общо _MAX_ резултата)",
                    "sInfoPostFix": "",
                    "sSearch": "Търсене във всички колони:",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "Първа",
                        "sPrevious": "Предишна",
                        "sNext": "Следваща",
                        "sLast": "Последна"
                    }
                },
                    "ajax": {
                        "url": "@Url.Action("GetAllAnnouncements", "Home")",
                        "type": "POST",
                        "dataSrc":""
                        
                },
                    "columns": [
                        {
                            "data": "arrive_date",
                            "render": function (data) {
                                var re = /-?\d+/;
                                var m = re.exec(data);
                                var d = new Date(parseInt(m[0]));
                                moment.locale('pt');
                                var m = moment(d).format('L LTS');
                                return m;
                            }
                        },
                        { "data": "title" },
                        {
                            "data": "publish_date",
                            "render": function (data) {
                                var re = /-?\d+/;
                                var m = re.exec(data);
                                var d = new Date(parseInt(m[0]));
                                moment.locale('pt');
                                var m = moment(d).format('L LTS');
                                return m;
                            }
                        }
                       
                    ]
                  
                    

                });
        });
    </script>
    @*<script>
    $(document).ready(function () {

        $("#title").keydown(function () {
            $("#loader").show();
            var searchtext = $(this).val();
           
                debugger
                $.ajax({

                    type: "Post",
                    url: "/Home/GetSearchRecord?searchString=" + searchtext,
                    contentType: "html",
                    success: function (response) {
                        $("#loader").hide();
                     
                            $("#AnnouncementRow").html(response);
                        

                    }
                })
            

        })

    })
</script>*@
   

}