@model ProductsDistribution.Models.ViewModels.ProductViewModelFullDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProductViewModelFullDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        

        <dt>
            @Html.DisplayNameFor(model => model.product_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.durability)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.durability)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.price)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.unit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category)
        </dd>
       
        <dt>
            @Html.DisplayNameFor(model => model.product_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.other)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.other)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.volume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.volume)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rating)
        </dd>

    </dl>
</div>
<p>
  @*  @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ })  *@
    @Html.ActionLink("Back to List", "DisplayProducts")
</p>
