@model IEnumerable<ProductsDistribution.Models.ViewModels.ProductViewModelShort>

@{
    ViewBag.Title = "Моите продукти";
}

<h2>Моите продукти</h2>

<p>
    @Html.ActionLink("Създай нов продукт", "AddNewProduct")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.product_name)
        </th>
        
       
        <th>
            @Html.DisplayNameFor(model => model.durability)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.price)
        </th>*@
        
        <th>
            @Html.DisplayNameFor(model => model.category)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.product_name)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.durability)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.price)
        </td>*@

        <td>
            @Html.DisplayFor(modelItem => item.category)
        </td>
        <td>
            @Html.ActionLink("Редактирай", "EditProduct", new { id = item.product_id,userId = item.userId}) |
            @Html.ActionLink("Детайли", "Details", new {  id=item.product_id  }) |
            @Html.ActionLink("Изтрий", "Delete", new {  id=item.product_id, userId=item.userId })
           

        </td>
    </tr>
}

</table>
